<main class="portfolio">
  <div class="banner">
    <ul>
      <li>
        <img src="https://devnahueloper.s3.amazonaws.com/project-shots/denizen/DenizenMain.png" alt="Denizen Confidant"/>
      </li>
      <li>
        <img src="https://devnahueloper.s3.amazonaws.com/project-shots/stereo/StereoMain.png" alt="Stereo Fidelity"/>
      </li>
      <li id="gifs">
        <img src="https://devnahueloper.s3.amazonaws.com/project-shots/denizen/search.gif" alt="Search Feature"/>
        <img src="https://devnahueloper.s3.amazonaws.com/project-shots/denizen/djCreate.gif"/>
        <img src="https://devnahueloper.s3.amazonaws.com/project-shots/stereo/effectShuffle.gif"/>
      </li>
    </ul>
  </div>
</main>