<header class="header">
  <nav class="menu">
    <ul class="menu-items">
      <li>Home</li>
      <li>About</li>
      <li>Work</li>
    </ul>
  </nav>
  <h1 id="name">Nahuel Gorosito</h1>
</header>
<main>
  <p class="tagline">Full Stack Software Engineer fluent in JavaScript, React, Ruby on Rails and much more!</p>
  <a href="#" class="btn">View my work</a>
</main>
<footer>
  <div class="link-group">
    <a href="https://github.com/devNahuelOper" class="link" tarket="_blank" title="GitHub"><img src="github.svg" alt="GitHub"></a>
    <a href="https://github.com/devNahuelOper" class="link" tarket="_blank" title="LinkedIn"><img src="linkedin.svg" alt="LinkedIn"></a>
    <a href="https://angel.co/u/nahuel-gorosito" class="link" tarket="_blank" title="AngelList"><i class="fab fa-angellist"></i></a>
    <i class="far fa-copyright"></i>
  </div>
</footer>