
<main class="welcome">
  <p class="tagline">Full Stack Software Engineer fluent in JavaScript, React, Ruby on Rails and much more!</p>
  <%= link_to "View my work", :portfolio,  :class => "btn"%>
</main>
