* {
  font-family: 'Roboto', sans-serif;
}


a {
  text-decoration: none;
}

.header {
  color: #565757;
  margin: unset;
}

.menu {
  box-sizing: border-box;
  padding: 16px;

}

ul.menu-items {
  display: flex;
  justify-content: space-around;
  list-style: none;
  margin: unset;
  border-bottom: 1px solid #2f78ff;
}

.menu-items li a {
  color: #2f78ff;
  padding: 8px 12px;
  box-sizing: border-box;
  border-radius: 12px;
}

#name {
  white-space: nowrap;
  text-align: center;

  color: #2f78ff;
  padding: 4px;
  margin: 0 auto;
  font-size: 42px;
  letter-spacing: 0.2em;
}

main.welcome {
  height: 520px;
  background-image: url("headshot.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-sizing: border-box;
  padding: 12px 0;
}

.tagline {
  margin: 0 auto;
  color: #829292;
  color: #e7ebeb;
  font-weight: 700;
  font-size: 1.5em;
  text-align: center;
  -webkit-text-stroke: blue;
  text-shadow: 1px -1px 2px black;
  opacity: 0.9;
}

.btn {
  background-color: transparent;
  background-color: #2f78ff;
  color: #e7ebeb;
  padding: 8px;
  border-radius: 8px;
  font-weight: 600;
  width: 132px;
  margin: 0 auto;
}

.link-group {
  padding: 8px;
  background: linear-gradient(to right, darkgrey, grey, lightgrey);
}

.link {
  text-decoration: none;
  margin: 8px;
}

.link span {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  color: transparent;
  border-radius: 50%;
  padding: 2px 4px;
}

#github span {
  background-image: url(github.svg);
}

#linkedin span {
  background-image: url(linkedin.svg);
}

.far {
  color: blue;
}

main.portfolio {
  background: white;
  width: 100vw;
}

.banner {
  position: relative;
  overflow: auto;
}

.banner li {
  list-style: none;
}

.banner ul li {
  float: left;
}

#gifs {
  display: flex;
  justify-content: stretch;
}
