// Place all the styles related to the Pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
* {
  font-family: 'Roboto', sans-serif;
}

a {
  text-decoration: none;
}

.header {
  color: #444646;
  color: #565757;
  margin: unset;
}

.menu {
  box-sizing: border-box;
  padding-top: 16px;
}

ul.menu-items {
  display: flex;
  justify-content: space-around;
  list-style: none;
}
.menu-items li a {
  color: #515f8cf7;
  background: #515f8cf7;
  color: #e7ebeb;
  padding: 8px 12px;
  box-sizing: border-box;
  border-radius: 12px;
}

#name {
  white-space: nowrap;
  text-align: center;
  background: #515f8cf7;
  color: #e7ebeb;
  padding: 4px;
  margin: unset;
}

main.welcome {
  // background-image: url("https://github.com/devNahuelOper/DenizenConfidant-.git");
  height: 520px;
  background-image: url("headshot.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-sizing: border-box;
  padding: 12px 0;
}

.tagline {
  // width: 50%;
  margin: 0 auto;
  color: #829292;
  color: #e7ebeb;
  font-weight: 700;
  font-size: 1.5em;
  text-align: center;
  -webkit-text-stroke: blue;
  text-shadow: 1px -1px 2px black;
  opacity: 0.9;
}

.btn {
  background-color: #e7ebeb;
  color: #444646;
  padding: 8px;
  border-radius: 8px;
  font-weight: 600;
  width: 132px;
  margin: 0 auto;
  box-shadow: 1px -1px 3px 0px #444646;
}

.link-group {
  // display: flex;
  // justify-content: space-around;
  // align-items: center;
  padding: 8px;
  background: linear-gradient(to right, darkgrey,grey,lightgrey);
}

.link {
  text-decoration: none;
  margin: 8px;
}

.link span {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  // width: 55px;
  color: transparent;
  border-radius: 50%;
  padding: 2px 4px;
}

#github span {
  background-image: url(github.svg);
}

#linkedin span {
  background-image: url(linkedin.svg);
  // background-color: black;
}

.far {
  color: blue;
}


main.portfolio {
  background: white;
  width: 100vw;
}

.banner {
  position: relative;
  overflow: auto;
  // display: flex;
  // flex-direction: column;
  // justify-content: stretch;
  // align-items: stretch;
  // width: inherit;
}

.banner li {
  list-style: none;
}

// .banner ul {
//   width: inherit;
// }

.banner ul li {
  float: left;
  // width: inherit;
}

// .banner ul li img {
//   width: inherit;
// }

#gifs {
  display: flex;
  justify-content: stretch;
}
