// Place all the styles related to the Pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.header {

}

.menu {
  // display: flex;
  // justify-content: center;
}

ul.menu-items {
  display: flex;
  justify-content: space-around;
  list-style: none;
}
// .menu-items li {
//   display: inline;
// }

#name {
  white-space: nowrap;
  text-align: center;
}

main {
  // background-image: url("https://github.com/devNahuelOper/DenizenConfidant-.git");
  background-image: url("headshot.jpg");
  background-size: cover;
  background-position: center;
}

.tagline {
  width: 50%;
  margin: 0 auto;
  color: #829292;
  font-weight: 700;
  font-size: 1.5em;
  text-align: center;
  -webkit-text-stroke: blue;
  text-shadow: 1px -1px 2px black;
  opacity: 0.9;
}

.far {
  color: blue;
}